.aboutDiv {
  margin: 5% 10%;
  font-family: 'Merienda', cursive;
}

.aboutus {
  color: green;
  margin: 2em 4.5em;
}

.history {
  font-family: 'Fredericka the Great', bold;
}

p.writing {
  color: black;
  margin: 1em 0;
  line-height: 2em;
  font-size: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.chairman {
  color: black;
  margin: 1em 0;
  line-height: 2em;
  font-size: 16px;
  display: block;
  margin-top: 10%;
}

.josh {
  border-radius: 10%;
  border: 5px inset black;
  box-shadow:  2px 3px 50px rgb(2, 60, 114);
  margin-bottom: 3%;
}

.mag {
  height: 700px;
  border-radius: 2%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.ind {
  width: 350px;
  margin-top: 5%;
}

.rainbow {
  text-decoration: underline;
}

.rainbow:hover {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
